<nav>
    <!-- MODO VOCE ACERTOU -->
    <a href="{{ url_for('profile', user_id='1') }}">Perfil do Ronaldinho</a> <br>
    <a href="{{ url_for('profile', user_id='2') }}">Perfil da Romário</a> <br>
    <a href="{{ url_for('profile', user_id='3') }}">Perfil do Ronaldo Fenômeno</a> <br>
    <a href="{{ url_for('profile', user_id='4') }}">Perfil do Vini JR</a> <br>

    <iframe src="https://giphy.com/embed/KudEPHM3O4qK1LT4Ol" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbf-bruno-guimares-seleo-olmpica-KudEPHM3O4qK1LT4Ol">via GIPHY</a></p>

</nav>